{% extends "backView/templateBack.twig" %}


{% block content %}

<section class="projects-section bg-light" id="addPost">
    <div class="container">
        <div class="row">
            {% if postPreview.postId == null %}
                <h2 class="col-lg-6 font-weight-bold align-self-center">Ajouter un article</h2>
            {% else %}
                <h2 class="col-lg-6 font-weight-bold align-self-center">Modifier l'article</h2>
            {% endif %}
        </div>
        <hr class="mb-5" />
        <div class="row">
            <div class="col-lg-12">
                <form class="form-group" method="post" action="#" enctype="multipart/form-data">

                    <label for="titlePost" class="font-weight-bold">Titre :</label>
                    <input type="text" name="titlePost" id="titlePost" class="form-control mb-3" value={{ '"' }}{{ postPreview.title }}{{ '"' }} required />

                    <label for="chapoPost" class="font-weight-bold">Chapô :</label>
                    <textarea name="chapoPost" id="chapoPost" class="form-control mb-4" >{{ postPreview.chapo }}</textarea>

                    <label for="contentPost" class="font-weight-bold">Contenu :</label>
                    <textarea name="contentPost" id="contentPost" class="form-control mb-4" rows="10" >{{ postPreview.content }}</textarea>
                    
                    <label for="imgPost" class="font-weight-bold">Ajouter une image : </label>
                    {% if postPreview.picture is null %}
                        <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
                        <input type="file" class="mb-5 text-right" id="imgPost" name="imgPost" />
                    {% else %}
                        <div class="mb-5">
                            <input type="text" class="text-right" id="imgPost" name="imgPost" value={{ postPreview.picture }} disabled="disabled"/>
                            <button type="submit" class="btn btn-img btn-outline-secondary" name="imgChange">Changer l'image</button>
                        </div>
                    {% endif %}
                    <div class="form-row mb-3">
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="col-md-12 mb-2">
                                    <button type="submit" name="preview" class="btn btn-sm btn-outline-secondary">
                                        Aperçu de l'article
                                    </button>
                                </div>
                                <div class="col-md-12 mb-2">
                                    <button type="submit" name="notPublished" class="btn btn-sm btn-outline-secondary">
                                        Enregistrer en brouillon
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <a href="index.php?admin=post" class="btn btn-sm btn-outline-secondary">Annuler</a>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6 text-right d-flex align-items-end justify-content-end"  id="published-button-sm">
                            <button type="submit" name="addPost" class="btn btn-secondary">
                                Publier l'article
                            </button>
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-12 text-right text-danger">{{ msg }}</div></div>
                </form>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}