{% extends "backView/templateBack.twig" %}


{% block content %}

<section class="projects-section bg-light" id="admin">
    <div class="container">
        <h2 class="mb-1">Dashboard</h2>
        <hr class="d-none d-lg-block mb-2 ml-0" />

        {% if user.type == 'administrator' %}
            <h4 class="mb-5">Statut : Administrateur</h4>
        {% elseif user.type == 'author' %}
            <h4 class="mb-5">Statut : Auteur</h4>
        {% elseif user.type == 'moderator' %} 
            <h4 class="mb-5">Statut : Modérateur</h4>
        {% endif %}
            <div class="row no-gutters mb-4 mb-lg-5">

                <div class="col-lg-6 mb-5">
                    <h4 class="mb-4">Gestion des articles</h4>
                    <div class="featured-text text-center text-lg-left">
                        <div class="row justify-content-between no-gutters">
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    <a href="index.php?admin=addpost">AJOUTER UN ARTICLE >>>></a>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    <a href="index.php?admin=post">AFFICHER TOUS LES ARTICLES >>>></a>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    Nombre d'articles : <span class="badge badge-dark js-scroll-trigger text-right">{{ nbrPosts }}</span>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    Dernier article ajouté : le 
                                    <span class="badge badge-dark js-scroll-trigger">{{ lastDatePost|date("d/m/Y") }}</span>
                                </p>
                            </div>
                        </div>
                        <hr class="d-none d-lg-block mb-0 ml-0 mr-5" />
                    </div>  
                </div>

                <div class="col-lg-6 mb-5">
                    <h4 class="mb-4">Gestion des commentaires</h4>
                    <div class="featured-text text-center text-lg-left">
                        <div class="row justify-content-between no-gutters">
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    <a href="index.php?admin=validcomment">COMMENTAIRES A VALIDER >>>></a>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    <a href="index.php?admin=listcomments">AFFICHER TOUS LES COMMENTAIRES >>>></a>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    Nombre de commentaires a valider : <span class="badge badge-dark js-scroll-trigger text-right">{{ nbrCommentNoValid }}</span>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    Dernier commentaire ajouté : le 
                                    <span class="badge badge-dark js-scroll-trigger">{{ lastDateComment|date("d/m/Y") }}</span>
                                </p>
                            </div>
                        </div>
                        <hr class="d-none d-lg-block mb-0 ml-0 mr-5" />
                    </div>
                </div>

                <div class="col-lg-6 mb-5">
                    <h4 class="mb-4">Gestion des utilisateurs</h4>
                    <div class="featured-text text-center text-lg-left">
                        <div class="row justify-content-between no-gutters">
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    <a href="index.php?admin=adduser">AJOUTER UN UTILISATEUR >>>></a>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    <a href="index.php?admin=listusers">AFFICHER TOUS LES UTILISATEURS >>>></a>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    Nombre d'utilisateurs enregistré : <span class="badge badge-dark js-scroll-trigger text-right">{{ nbrUser }}</span>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-left text-black-50">
                                    Dernier utilisateur ajouté : 
                                    <span class="badge badge-dark js-scroll-trigger">{{ lastAddedUser.userName }}</span>
                                       le    <span class="badge badge-dark js-scroll-trigger">{{ lastAddedUser.registerDate|date("d/m/Y") }}</span>
                                </p>
                            </div>
                        </div>
                        <hr class="d-none d-lg-block mb-0 ml-0 mr-5" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4 class="mb-4">Profil</h4>
                    <div class="featured-text text-center text-lg-left">
                        <div class="row justify-content-between no-gutters">
                            <div class="col-lg-6 mb-4">
                                <div class="d-inline mr-3"><img src={{ user.profilPicture }} alt="Photo de profil" id="profilPicture"/></div>
                                <h3 class="text-left text-black-50 d-inline">{{ user.userName }}</h3>
                            </div>
                            
                            <div class="col-lg-12 mb-3">
                                <p class="text-left text-black-50">
                                    <a href={{ 'index.php?admin=profil&id=' ~ user.id }}>MODIFIER LE PROFIL >>>></a>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    <hr class="d-none d-lg-block mb-0 ml-0 mr-5" />
                </div>
            </div>
    </div>
</section>

{% endblock %}