{% extends "backView/templateBack.twig" %}


{% block content %}

<section class="projects-section bg-light" id="backListPosts">
    <div class="container">
        <div class="row">
            <h2 class="col-lg-6 font-weight-bold align-self-center">Gestion des articles</h2>
            <div class="col-lg-6 text-right"><a class="btn btn-secondary active" href="index.php?admin=addpost">Ajouter un article</a></div>
        </div>
        <hr class="d-none d-lg-block mb-3" />
        <div class="row mb-3">
            <div class="col-lg-1  font-weight-bold align-self-center">Id</div>
            <div class="col-lg-4  font-weight-bold align-self-center">Titre</div>
            <div class="col-lg-2  font-weight-bold align-self-center">Auteur</div>
            <div class="col-lg-2  font-weight-bold align-self-center">Date d'ajout</div>
            <div class="col-lg-1  font-weight-bold align-self-center text-center">Publié</div>
            <div class="col-lg-2 text-center font-weight-bold align-self-center">Action</div>
        </div>
        <hr class="d-none d-lg-block mb-2 ml-0" />
        {% for post in posts %}
            <div class="row mt-3 mb-3">
                <div class="col-lg-1 align-self-center">
                    <a href={{ 'index.php?p=post&id=' ~ post.postId }} class="badge badge-dark">{{post.postId}}</a>
                </div>
                <div class="col-lg-4 text-truncate align-self-center">{{ post.title }}</div>
                <div class="col-lg-2 align-self-center">{{ post.authorName }}</div>
                <div class="col-lg-2 align-self-center">{{ post.lastDateModif|date("d/m/Y") }}</div>
                <div class="col-lg-1 align-self-center text-center">
                   {% if post.published == 'TRUE' %} 
                   <!--Check-->
                        <span class="text-blue font-weight-bold">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                              </svg>
                        </span>
                   {% else %}
                   <!--Publish-->
                        <a href={{'index.php?admin=post&published=' ~ post.postId ~ '&c=valid'}} class="btn btn-sm text-blue font-weight-bold">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </a>
                   {% endif %}
                </div>
                <!--Edit and Delete-->
                <div class="col-lg-2 text-center justify-content-between align-self-center">
                    <div class="row">
                        <!--Edit-->
                    {% if user.type == 'administrator' %}
                        <div class="col-lg-6 ">
                    {% elseif user.type == 'author' %}
                        <div class="col-lg-12">
                    {% endif %}
                            <a href={{'index.php?admin=addpost&id=' ~ post.postId }} class="btn btn-sm text-success font-weight-bold">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </a>
                        </div>
                    {% if user.type == 'administrator' %}
                        <!--Delete-->
                        <div class="col-lg-6 ">
                            <a href={{'index.php?admin=post&delete=' ~ post.postId }} class="btn btn-sm text-danger font-weight-bold">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a>
                        </div>
                    {% endif %}
                    </div> 
                </div>
            </div>
            <hr class="d-none d-lg-block mb-1 mt-1" />
        {% endfor %}
    </div>
</section>

{% endblock %}