{% extends "backView/templateBack.twig" %}

{% block content %}

<section class="projects-section bg-light" id="projects">
    <div class="container">
       <div class="row">
            <div class="col-lg-6 ">
                <div class="row"><h2 class="mb-4">{{ newPost.title }}</h2></div>
                <div class="row"><p class="text-black-50 ">{{ newPost.lastDateModif|date("d/m/Y") }}</p></div>
                <div class="row"><p class="text-black-50 ">{{ newPost.authorName }}</p></div>
                <div class="row"><p class="text-black-50 "><a href="#comments" class="badge badge-dark js-scroll-trigger">{{ nbrComments }} commentaires</a></p></div>
            </div> 
            <div class="col-lg-6 mb-5"><img class="img-fluid mb-3 mb-lg-0" src={{ '"' }} {{ constant('POST_IMG_DIRECTORY') ~ newPost.picture}} {{ '"' }} alt="" /></div>  
        </div>
        <p class="font-weight-bold">{{ newPost.chapo }}</p>
        <p class="text-justify featured-text">{{ newPost.content }}</p>
        <p>{{ newPost.authorName }}</p>
        <p class="text-right"><a href='index.php?admin=addpost'>FERMER L'APERCU</a></p>
    </div>
</section>

{% endblock %}