{% extends "frontView/templateFront.twig" %}

{% block title %}Blog pro de Mathieu Bonhommeau{% endblock %}

{% block content %}

    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center ">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <h1 class="mx-auto my-0 text-uppercase" id="myJob">DEVELOPPEUR WEB</h1>  
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 text-center">
                        <img src="public/assets/img/logo.png" id="logoHome" alt="logo" />
                        <h2 class="mx-auto my-0 text-uppercase mb-5" id="myName">MATHIEU BONHOMMEAU</h2>
                    </div>
                </div>
                <p class="text-white-50 text-uppercase">Développeur mais surtout <strong>Passionné</strong> et <strong>Investi</strong></p>
                <p class="text-white-50 mx-auto mb-5 text-uppercase">Travaillons ensemble sur vos projets !</p>
                <a class="btn btn-primary js-scroll-trigger mb-5" href="public/assets/cv/CV_MBonhommeau.pdf" target="_blank">Mon CV</a>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://www.linkedin.com/in/mathieu-bonhommeau-155640128/" target="_blank"><i class="fab fa-circle fa-stack-2x fa-linkedin-in"></i></a>
                    <a class="mx-2" href="https://github.com/matanna" target="_blank"><i class="fab fa-circle fa-stack-2x fa-github"></i></a>
                </div>
            </div>
        </div>
    </header>

    <!-- About-->
    <section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <h2 class="text-white text-center mb-5 col-lg-12">Présentation</h2>
        </div>
        
        <div class="row">
            <div class="col-lg-4"><img src="public/assets/img/aboutPhoto.jpg" alt="My photo" id="myPhoto" /></div>
            <div class="col-lg-8">
                <p class="text-white-50" id="about-text">
                    Après avoir travaillé pendant 15 ans dans l'industrie du verre dont 4 en tant que Chef d'atelier, 
                    j'ai pris la décision de me réorienter vers LE DEVELOPPEMENT WEB, domaine qui me passionne depuis toujours.<br />
                    Ces années d'expérience m'ont permis d'appréhender toutes les fascettes de la relation Client - Fournisseur tant au niveau de la qualité du produit vendu, 
                    qu'au niveau du respect des délais de livraison. <br />
                    Ce sont ces valeurs qui forment les bases de mon activité de dévelopeur web.<br /><br />
                    Bonne visite !<br /><br />
                    MATHIEU BONHOMMEAU
                </p>
            </div>
        </div>
    </div>
    </section>

    <!-- Projects-->
    <section class="projects-section bg-light" id="lastposts">
    <div class="container">
        <!-- Principal post-->
        {% for key, post in posts %}
            {% if key == 0 %}
                <div class="row align-items-center no-gutters mb-4 mb-lg-5 post white-font">
                    <div class="col-xl-7 col-lg-6 col-md-6"><img class="img-fluid mb-3 mb-lg-0" src={{ '"' }} {{ constant('POST_IMG_DIRECTORY') ~ post.picture}} {{ '"' }} alt="" /></div>
                    <div class="col-xl-5 col-lg-6 col-md-6">
                        <div class="featured-text text-center text-lg-left" id="firstPost">
                            <h4>{{ post.title}}</h4>
                            <div class="row justify-content-center no-gutters">
                                <div class="col-lg-6"><p class="text-left text-black-50">{{ post.lastDateModif|date("d/m/Y") }}</p></div>
                                <div class="col-lg-6"><p class="text-right author">{{ post.authorName }}</p></div>
                            </div>
                            <p class="text-black-50 text-justify mb-0 content-post-lg">{{ post.content|truncate(155,true)|raw }}</p>
                            <p class="text-black-50 text-justify mb-0 content-post-sm">{{ post.content|truncate(70,true)|raw }}</p>
                            <p class="mt-2"><a href='index.php?p=post&amp;id={{ post.id }}' >LIRE LA SUITE >></a></p>
                        </div>
                    </div>
                </div>
            <!--Another posts-->
            {% else %}
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0 post black-font">
                    <div class="col-md-6 homePostImgs"><img class="img-fluid" src={{ '"' }} {{ constant('POST_IMG_DIRECTORY') ~ post.picture}} {{ '"' }} alt="" /></div>
                    <div class="col-md-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left" id="homePosts">
                                    <h4 class="text-white content-post-lg">{{ post.title }}</h4>
                                    <h4 class="text-white content-post-sm">{{ post.title|truncate(21,true)|raw }}</h4>
                                    <div class="row justify-content-center no-gutters">
                                        <div class="col-lg-6"><p class="text-left text-white-50">{{ post.lastDateModif|date("d/m/Y") }}</p></div>
                                        <div class="col-lg-6"><p class="text-right text-white author">{{ post.authorName }}</p></div>
                                    </div>
                                    <p class="mb-0 text-justify text-white-50 content-post-lg">{{ post.content|truncate(100,true)|raw }}</p>
                                    <p class="mb-0 text-justify text-white-50 content-post-sm">{{ post.content|truncate(50,true)|raw }}</p>
                                    <p class="mt-2"><a href='index.php?p=post&amp;id={{ post.id }}' >LIRE LA SUITE >></a></p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-lg-12">
                <p class="text-right mt-4 font-weight-bolder"><a href="index.php?p=listposts">TOUS LES ARTICLES >>>></a></p>
            </div>
        </div>
    </div>
    </section>
   

    <!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Me contacter</h2>
                    <form method="post" action="index.php?p=home#signup">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputName" name='inputName' type="text" placeholder="Votre nom..." required />
                                </div>
                                <div class="col">
                                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputFirstName" name="inputFirstName" type="text" placeholder="Votre prénom..." required />
                                </div>
                            </div>
                            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" name="inputEmail" type="email" placeholder="Votre adresse mail..." required />
                            <textarea class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputMessage" name="inputMessage" rows="10" placeholder="Votre message ici..." required></textarea>
                            <div class="row">
                                <button class="btn btn-primary" type="submit" id="submitMessage" name="submitMessage">Envoyer</button>
                            </div>
                            <div class="row">
                                <p class="mb-0 text-white-50">{{ msg }}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}
