{% extends "template.twig" %}

{% block content %}

<section class="projects-section bg-light" id="projects">
    <div class="container">
       <div class="row">
            <div class="col-lg-6 ">
                <div class="row"><h2 class="mb-4">{{ post.title }}</h2></div>
                <div class="row"><p class="text-black-50 ">{{ post.lastDateModif|date }}</p></div>
                <div class="row"><p class="text-black-50 ">{{ post.authorName }}</p></div>
                <div class="row"><p class="text-black-50 "><a href="#comments" class="badge badge-dark js-scroll-trigger">{{ nbrComments }} commentaires</a></p></div>
            </div> 
            <div class="col-lg-6 mb-5"><img class="img-fluid mb-3 mb-lg-0" src={{ '"' }} {{ constant('POST_IMG_DIRECTORY') ~ post.picture}} {{ '"' }} alt="" /></div>  
        </div>
        <p class="font-weight-bold">{{ post.chapo }}</p>
        <p class="text-justify featured-text">{{ post.content }}</p>
        <p>{{ post.authorName }}</p>
        <p class="text-right"><a href='index.php?p=listposts'>RETOUR AUX ARTICLES</a></p>
        
        <h4 id="comments" class="mb-4">{{ nbrComments }} Commentaires : </h4>

        <!--Add a new post-->
        <form class="form-group" action="" method="post">
            <div class="form-row">
                <div class="col">
                    <label for='nameVisitor'>Pseudo</label>
                    <input type='text' class='form-control' name='nameVisitor' id='nameVisitor' required />
                </div>
                <div class="col">
                    <label for='emailVisitor'>Email</label>
                    <input type='email' class='form-control' name='emailVisitor' id='emailVisitor' required />
                </div>
            </div>
            <textarea id="contentComment"  name="content" placeholder="Votre message ici" class="form-control mt-3 mb-3" rows=5 required ></textarea>
            <div class="text-right"></p><button type="submit" id="submitComment" name="submitComment" class="btn btn-dark mb-3">Envoyer</button></div>
        </form>
        <p class="text-center">{{ commentMsg }}</p>

        {% for comment in comments %}
            <section class="comments">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title">
                            <span id="nameVisitor" class="font-weight-bold">{{ comment.nameVisitor }}</span> <span id="commentDate" class="font-weight-light">- posté le : {{ comment.commentDate|date }}</span>
                        </div>
                        <p class="card-text font-weight-light" id="comment">{{ comment.comment }}</p>
                    </div>
                </div>
            </section>
        {% endfor %}

    </div>
</section>
{% endblock  %}